/* first stage */

.custom-head {
    display: block;
    margin: 20px 0;
    padding: 8px;
    /* background: #f3f3f3; */
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #eaeaea;
}
    .rating {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin-bottom: 25px;
    }

    .star {
      cursor: pointer;
      color: #000; /* اللون الافتراضي */
      margin: 0 3px;
    }

    .rating p {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
            color: #626262;
    }

    #ratingDisplay {
      color: #939393; /* لتلوين التقييم بلون ذهبي */
}
nav > ul {
position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
nav a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

nav ul li {
  color: #fff;
  list-style: none;
}

nav > ul > li > a {
  padding: 20px 15px 16px;
      font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

nav ul > li.submenu > a:after {
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
}

nav ul > li.submenu:hover > a:after {
  margin-top: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

nav > ul > li:hover {

border-bottom: 3px solid #000;
}

/* second stage (the mega-menu) */

nav ul.megamenu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: -9999px; 
    left: 0;
    padding: 40px 20px;
    background: #fff;
    text-align: left;
    z-index: 1;
    border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
    justify-content: center;
}
nav ul.megamenu{

    width: 100%;
}
nav ul li:hover ul.megamenu {
  top: 100%;
}

/* third stage (child-menus in the mega-menu) */

nav ul.megamenu ul {

  color: #000;
  box-shadow: none;
  border-right: 1px solid #eceff1;
    padding-right: 50px;
    padding-left: 20px;
    text-align: left;
}

nav ul.megamenu h4 {
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
    font-weight: 500;
}

nav ul.megamenu ul li {
  display: block;
}

nav ul.megamenu ul li a {
  margin-top: 7px;
  transition: 0.5s;
  color: #000;
font-weight: 300;
            font-size: 13px;
}

nav ul.megamenu ul li a:hover {
  color: #4096ee;
}
.secin {
position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    left: 0px;
}
 .banner-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    margin: 0 0 5vw;
    }
    .left-banner {
        width: 50%;
        height: 500px;
    }
    .right-banners {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 45%;
    }
    .banner {
        position: relative;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        padding: 5% 4%;
    }
    .right-banners .banner {
        height: 240px;
    padding: 16% 10% 0;
    }
    .banner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
    .banner-content {
        position: relative;
        color: black;
        z-index: 2;
    }
    .banner h3 {
        margin: 0;
    font-size: 1.7em;
    font-weight: 400;
    }
    .banner p {
        font-size: 18px;
font-weight: 300;
    color: #848484;
    }
    @media (max-width: 768px) {
        .banner-container {
            flex-direction: column;
            align-items: center;
        }
        .left-banner, .right-banners {
            width: 100%;
        }
        .left-banner {
            height: 350px;
        }
    }
/* full */
#item-hot-sales .widget {
margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    box-sizing: border-box;
    padding: 50px 30px 75px;
    width: 100vw;
    background: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
}
    .custom-category-list {
      list-style: none;
      display: flex;
      overflow-x: auto; /* السماح بالتمرير الأفقي */
      border-radius: 0;
      max-width: 100%;
      width: auto; /* يجعل القائمة تأخذ حجم عناصرها فقط */
      justify-content: flex-start;
      display: none; /* إخفاء القائمة افتراضيًا */
      
      /* إخفاء شريط التمرير */
      scrollbar-width: none; /* فايرفوكس */
      -ms-overflow-style: none; /* إنترنت إكسبلورر وإيدج */
    }

    .custom-category-list::-webkit-scrollbar {
      display: none; /* كروم وسفاري */
    }

    .category-item {
      color: #333333;
      padding: 10px 15px;
      margin: 13px 5px 0;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 13px; /* الحجم الأساسي للخط */
      white-space: nowrap; /* منع التفاف النص */
      background: #F6F6F6;
      font-weight: 300;
    }

    .category-item a {
      text-decoration: none;
      color: #333;
      display: block;
    }

    .category-item:hover {
      background-color: #000;
    }

    .category-item:hover a {
      color: #fff;
    }

    @media (max-width: 768px) {
      .category-item {
          font-size: 13px;
          padding: 8px 15px;
          margin: 0 5px;
      }
    }/* down text postos */
.new-arrival {
  display: inline-block;
  color: #000;
  font-weight: 300;
  font-size: 15px;
  padding: 0 0 10px;
}
/* تنسيق hots-title على الشاشات الكبيرة (1025px فأكثر) */
@media (min-width: 1025px) {
    .item-home .hots-title {
        font-size: 37px;
        color: #000000;
        text-align: center;
          padding: 0 0 30px;
        font-weight: 700;
    }
}

/* تنسيق hots-title على الشاشات الصغيرة (أقل من 1025px) */
@media (max-width: 1024px) {
    .item-home .hots-title {
        font-size: 20px;
        color: #000;
        margin: 0 0 30px;
        text-align: center;
        font-weight: 700;
    }
}

  .slider-container {
      position: relative;
      max-width: 100%;
      overflow: hidden;
  }
  .slider {
      display: flex;
      transition: transform 0.2s ease-out;
      will-change: transform;
  }
  .slide {
      flex: 0 0 25%;
      box-sizing: border-box;
      position: relative;
      padding: 0 10px 0;
  }
  .slide img {
      width: 100%;
      height: 400px;
      object-fit: cover;
  }
  .slide-title {
      position: absolute;
      bottom: -1px;
      background: rgb(255 255 255);
      color: black;
      padding: 10px;
      font-size: 14px;
      font-weight: 300;
        display: none;
  }
  .prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(255 255 255);
      color: black;
      border: none;
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
  }
  .prev { left: 10px; }
  .next { right: 10px; }

  @media (max-width: 1200px) { .slide { flex: 0 0 33.33%; } }
  @media (max-width: 768px) { .slide { flex: 0 0 50%; } }
  @media (max-width: 480px) { .slide { flex: 0 0 100%; } }

/* إخفاء العنصر على الشاشات الأصغر من 1024px (الهاتف والتابلت) */
@media (max-width: 1024px) {
  .new-arrival {
    display: none;
  }
}
